.manage-specialty-container {
  padding: 0 20px;
  .ms-title {
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
  }
  .add-new-specialty {
    .btn-save-specialty {
    }
  }
}
